* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --color-bg: #E3EDF2;
    --color-hour: #8000DC;
    --color-p: #323337;
    --color-container-weather: #CBC9CB;
    --color-air: #FFCF28;
    --color-umidity: #1B8DF4;
    --filter-icon: grayscale(100%);
}

.dark-mode {
    --color-bg: #131d1f;
    --color-hour: #e0bdfe;
    --color-p: #c8c6cb;
    --filter-icon: grayscale(100%) invert(100%);
    --color-container-weather: #222f32;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

}

.widget {
    width: clamp(200px, 512px, 1024px);
    height: 280px;

    border-radius: 60px;

    background-color: var(--color-bg);

    box-shadow: 4px 4px 12px 8px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;

    margin: 4px;
}

.right {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

p {
    font-weight: 800;
    font-size: 80px;
    line-height: 110%;
    color: var(--color-hour);
    transition: .5s;

}

#local {
    color: var(--color-p);
}

.container-date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.container-date>#date {
    font-weight: 800;
    font-size: 24px;
    line-height: 110%;
    color: var(--color-p);

}

.container-date>#date1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 110%;
    color: var(--color-p);

}

.container-date>#date2 {
    font-weight: 800;
    font-size: 24px;
    line-height: 110%;
    color: var(--color-p);

}

.container-date>#date3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 110%;
    color: var(--color-p);

}

.container-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 80px;
    border-radius: 45px;

    margin-bottom: 68px;

    background-color: var(--color-container-weather);
}

.container-weather>.local {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-p);
}

.weather-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-img>img {
    width: 36px;
    height: 36px;
}

.margin-bottom {
    margin-bottom: 6px;
}

.weather-img>span {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 400;
    color: var(--color-p);
}

.container-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.status-air {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: var(--color-air);

    display: flex;
    align-items: center;
    justify-content: center;

}

.status-umidity {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: var(--color-umidity);

    display: flex;
    align-items: center;
    justify-content: center;
}

.white-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-bg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

#air {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-p);
    margin-left: 2px;

}

#umidity {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-p);
    margin-left: 6px;

}

.icon-status {
    width: 20px;
    opacity: .8;
    filter: grayscale(100%) invert(100%); ;
}

#hour {
    /* letter-spacing: 12px; */
}

@media (max-width: 400px) {
    .widget {
        flex-direction: column;
        height: 560px;
    }
}